@font-face { font-family: "AccP"; src: url("assets/accid.ttf"); }
@font-face { font-family: "League"; src: url("assets/LeagueGothic-Regular.otf"); }
@font-face { font-family: "AdamPro"; src: url("assets/adamPro.ttf"); }

body {
    background: url("assets/backBlur.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: "AdamPro";
    font-size: 84px;
    color: white;
    margin: 0px auto;
    margin-top: 20px;
    width: 800px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 5px solid #fff
}

h2{
    font-family: "AdamPro";
    font-size: 40px;
    color: white;
    margin: 0px auto;
    width: 800px;
    text-align: center;
    margin-bottom: 80px;
    margin-top:10px;
}

span.b{
    color: #1c89c0;
}

span.lB{
    color: #87fdfe;
}

.bossSelectorContainer{
    width: 1080px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: none;
}

.bossButton{
    height: 170px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    box-shadow: 0px 0px 2px #888888;
    float: left;
    background: #070d20;
}

p.bossText{
    font-family: "Impact";
    font-size: 20px;
    color: white;
}

.bossButton:hover{
    box-shadow: 0px 0px 10px #90CAF9;
}

p {
    font-family: sans-serif;
    display: block;
    text-align: center;
}


.bossImage{
    height: 100px;
    width: 100px;
    background: url('assets/bossesSheet.png');
    background-size: cover;
}

.goroth{
    background-position: 0px 0px;
}

.di{
    background-position: -100px 0px;
}

.harjatan{
    background-position: -200px 0px;
}

.mistress{
    background-position: -300px 0px;
}

.sisters{
    background-position: -400px 0px;
}

.host{
    background-position: -500px 0px;
}

.maiden{
    background-position: -600px 0px;
}

.avatar{
    background-position: -700px 0px;
}

.kj{
    background-position: -800px 0px;
}

.tableHolder{
    display: none;
    width: 80%;
    margin: 0 auto;
}

.itemCol{
    width: 200px;
}

table {
    background-color: #070d20;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

td {
    padding: 5px;
}

td:hover{
    background-color: #101e47;
}

tbody tr:nth-child(odd){
    background-color: #0b1533;
}

th {
    font-size: 22px;
    background-color: #1b87c0;
}

.bisContainer{
    display: block;
    margin: 0 auto;
}

.optionBisContainer{
    display: block;
    margin: 0 auto;
    width: 280px;
}

.bisCard{
    height: 90px;
    width: 320px;
    box-shadow: 0px 0px 8px #888888;
    margin: 5px 5px 5px 5px;
}

.bisHolder{
    width: 650px;
    height: 670px;
    display: none;
    margin: 0 auto;
    margin-bottom: 15px;
}   

.bisCol{
    float: left;
    width: 50%;
}

.bisRelicTableHolder{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    display: none;
}

.floatLeft{
    float: left;
}

.cardBlock{
    height: 40px;
    line-height: 40px;
    background-color: #fce9ec;
}

.cardHeader{
    font-family: "Impact";
    color: white;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    background-color: #64B5F6;
    padding-left: 5px;
}

.cardFooter{
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 0px;
    font-size: small;
    text-align: right;
    background-color: #BBDEFB;
    font-weight: bold;
}

.cardText{
    text-align: center;
    margin: 0px;
    color: black;
    font-weight: bold;
}

.gearImage{
    height: 28px;
    width: 28px;
    background: url('assets/lootIconSheet28.png');
    background-position: 0px 0px;
    float: left;
    margin: 5px 0px 0px 5px;
}

.itemText{
    text-align: left;
    margin: 0px 0px 0px 38px;
}

.textShadow {
    text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.gearImageRight{
    float: right;
}

button{
    visibility: visible;
}

.itemContainer{
    width: 800px;
    height: 0px;
    border: solid;
    margin-bottom: 10px;
    display: none;
    margin: 0 auto;
    background-color: #070d20;
    margin-bottom: 10px;
}

.itemBlock{
    height: 40px;
    line-height: 40px;
    background-color: #1b87c0;
}

p.reverseP{
    font-family: "Impact";
    display: block;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p.reverseItemTitle{
    color: white;
    font-size: 22px;
}

.reverseItemsHolder{
    height: 100px;
    margin: 0 auto;
    width: 80%;
    display: none;
}

.itemCol{
    float: left;
    width: 33%;
}
